<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="ReplicationSection"
      type="ConfigLayer.CustomSectionConfig.ReplicationSection, ConfigLayer"/>
  </configSections>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="xmlPath" value="Users.xml"/>
  </appSettings>

  <ReplicationSection>
    <Services>
      <add serviceType="Master" path="master"  />
      <add serviceType="Slave" path="slave_1" ip ="127.0.0.1" port="9026" />
      <add serviceType="Slave" path="slave_2" ip ="127.0.0.1" port="9027"/>
 
    </Services>
  </ReplicationSection>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
  <system.diagnostics>
    <switches>
      <add name="Data" value="1" />
    </switches>
  </system.diagnostics>
  
</configuration>