<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section 
      name="ReplicationSection" 
      type="UserStorage.Config.ReplicationSection, UserStorage"/>
  </configSections>
  
  <appSettings>
    <add key="xmlPath" value="Users.xml"/>
  </appSettings>
  
  <ReplicationSection>
    <Services>
      <add serviceType="Master" path="master" />
      <add serviceType="Slave" path="slave_1" />
      <add serviceType="Slave2" path="slave_2" />
    </Services>
  </ReplicationSection>
  
  <system.diagnostics>
    <switches>
      <add name="Data" value="1" />
    </switches>
  </system.diagnostics>

</configuration>