<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="ReplicationSection"
      type="ConfigLayer.CustomSectionConfig.ReplicationSection, ConfigLayer"/>
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <system.serviceModel>
    <client>
      <endpoint address="http://192.168.86.51:8080/Service/master"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUSContract1"
        contract="ServiceReference1.IUSContract" name="BasicHttpBinding_IUSContract" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUSContract" />
        <binding name="BasicHttpBinding_IUSContract1" />
      </basicHttpBinding>
    </bindings>    
  </system.serviceModel>
  
  <appSettings>
    <add key="xmlPath" value="Users.xml"/>
  </appSettings>
  
</configuration>