<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="ReplicationSection"
      type="ConfigLayer.CustomSectionConfig.ReplicationSection, ConfigLayer"/>
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.serviceModel>
    <client>
      <endpoint address="http://127.0.0.1:8080/Service/master" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IUSContract1" contract="ServiceReference.IUSContract"
        name="BasicHttpBinding_IUSContract" />
      <endpoint address="http://127.0.0.1:8080/Service/slave_1" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IUSContract2" contract="ServiceReference1.IUSContract"
        name="BasicHttpBinding_IUSContract1" />
      <endpoint address="http://127.0.0.1:8080/Service/slave_2" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IUSContract3" contract="ServiceReference2.IUSContract"
        name="BasicHttpBinding_IUSContract2" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUSContract" />
        <binding name="BasicHttpBinding_IUSContract1" />
        <binding name="BasicHttpBinding_IUSContract2" />
        <binding name="BasicHttpBinding_IUSContract3" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
  <appSettings>
    <add key="xmlPath" value="Users.xml"/>
  </appSettings>
  
</configuration>