<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="logDir" value="./log/${date:format=yyyy-MM-dd}"/>

  <variable name="shortLayout" value="${date:format=HH\:mm\:ss} (${level:uppercase=true}) : ${message}"/>
  <variable name="commonLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}) : ${message}"/>

  <targets>
    <target
     name="shortLog"
     xsi:type="File"
     fileName="${logDir}/short.log"
     layout="${shortLayout}" />

    <target
      name="fullLog"
      xsi:type="File"
      fileName="${logDir}/full.log"
      layout="${commonLayout}" />
  </targets>

  <rules>
    <!-- Основные log -->
    <logger name="*" minlevel="Trace" writeTo="fullLog" />
    <logger name="*" minlevel="Info" writeTo="shortLog" />
  </rules>
</nlog>