<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <!-- The path of xml file -->
      <add key="xmlPath" value="Users.xml"/>
      <add key="SlavesCount" value="2" />
    </appSettings>

    <system.diagnostics>
      <switches>
        <add name="Data" value="1" />
      </switches>
    </system.diagnostics>
</configuration>